# Temp files
.DS_Store
.idea/
*~
buck-out/


# Compiled files
.venv/
__pycache__/
*.py[cod]
.*cache/

# Distribution / packaging
/build/
/dist/
*.egg-info/

# Tests and coverage
.coverage
.coverage.*
htmlcov/
/data/
/node_modules/

# docs
/docs/generated/
/docs/_build/
